:root {
  primary--color: #9a9994;
  secondary--color:  #rgb(53, 54, 57);
  background-color: #fff;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
}

header {
  display: flex;
  flex-direction: column;
  background-color: rgb(53, 54, 57);
  padding-top: 0.5rem;

}
.fa fa-reorder {
  color: #fff;

}

.fa-shopping-bag {
  color: #fff;

}

.logo {
  margin-left: 9rem;
  margin-top: 3px;
  width: 4.5rem;
  background-color: rgb(53, 54, 57);
  padding-bottom: 0.5rem;
  position: relative;
}

.parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;

}

.child-one {
  text-align: center;
  background-color: #0071E3;
  padding: 1rem;
  color: #fff;

}
.child-two {
  text-align: center;
  background-color: #fff;
  padding: 0.5rem;

}
.body {
  background-color: #161616;
  padding: 10rem;

}

.flex {
  display: flex;
}

.flex justify--content-center {
  justify-content: center;
}
